<!-- <router-outlet></router-outlet> -->
<div class="formContol">
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" formControlName="firstName">
    <div *ngIf="myForm.get('firstName').invalid && myForm.get('firstName').touched" class="error-message">
      First Name is required.
    </div>
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" formControlName="lastName">
    <div *ngIf="myForm.get('lastName').invalid && myForm.get('lastName').touched" class="error-message">
      Last Name is required.
    </div>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="myForm.get('email').invalid && myForm.get('email').touched" class="error-message">
      Email is required and must be valid.
    </div>
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="number" id="age" formControlName="age">
    <div *ngIf="myForm.get('age').invalid && myForm.get('age').touched" class="error-message">
      Age is required and must be at least 18.
    </div>
  </div>
  <button type="submit" (click)=" onSubmit()">Submit</button>
</form>
</div>
